/** Background color for buttons */

.grey-background{
    background: #F0F8FF;
}
.purple-background{
    background: purple;
}
.orange-background{
    background: orange;
}
.rebecca-purple-background{
    background: RebeccaPurple;
}
.lightblue-background{
    background: paleturquoise;
}
.brown-background{
    background: sandybrown;
}
.antique-background{
    background: mistyrose;
}
.bisque-background{
    background: bisque;
}
.party-mix{
    background-image: linear-gradient(to right, skyblue, indigo,violet); 
}
.gold-background{
    background: #B0E0E6;
}
.royal-background{
    background: deepskyblue;
}
.yellowgreen-background{
    background: yellowgreen;
}
.lightgray-background{
    background: lightgray;
}
/**  color for buttons */
.grey{
    color: #F0F8FF;
}
.purple{
    color: purple;
}
.orange{
    color: orange;
}
.rebecca-purple{
    color: RebeccaPurple;
}
.lightblue{
    color: paleturquoise;
}
.brown{
    color: sandybrown;
}
.antique{
    color: mistyrose;
}
.bisque{
    color: bisque;
}
.gold{
    color: gold;
}
.royal{
    color: deepskyblue;
}
.yellowgreen{
    color: yellowgreen;
}
.lightgray{
    color: lightgray;
}